<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      
      <header class="page-header">
        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">SMA-actuated Morphing-Wing Mechanism</h1>

        <div align="center" style="padding-top: 50px; padding-bottom:10px;">
          <img width="100%" src="images/morphing_wing_01.jpg"/>
        </div>
        <div class="executive-summary" itemprop="description" align="justify">
          <p>In this mechanism, a Shape Memory Alloy (SMA) wire was used to actuate the mechanism. An Adaptive Neuro-Fuzzy Inference System (ANFIS) was used to model the hysteresis behavior of the SMA wire. The obtained model as well as designed controller were integrated in a LabView model, as shown in the following picture. An adaptive controller was used to perform the position control of the mechanism.</p>
        </div>
        <div align="center" style="padding-top: 10px; padding-bottom:10px;">
          <img width="100%" src="images/morphing_wing_02.jpg"/>
        </div>
      </header>


      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://farshad-heravi.github.io">Farshad N. Heravi</a>.</p>
      </footer>

    </div>

  </body>

</html>
