<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      
      <header class="page-header">
        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">Integration of a Cartesian Robot in a Robotic Cell</h1>


        <div class="executive-summary" itemprop="description" align="justify">
          <p>Within this project, I have worked on the development of a ROS-based package to integrate an <a href="https://www.igus.com/info/xy-gantry" target="_blank">igus cartesian robot</a> into a robotic cell consists of two <a href="https://www.universal-robots.com/e-series" target="_blank">UR5e</a> and a cartesian robots along with a sewing machine. The project, <a href="https://softmanbot.eu" target="_blank">SoftManBot</a>, aimed to automate a sewing process of a product. I have used C++ to develop a HardwareInterface for the 3-axis cartesian robot for the ROS. The interface should handled two motors of the cartesian robot as well as a Maxon motor as a custom third link. The developed package is available in <a href="https://github.com/farshad-heravi/cartesian_cpr_robot" target="_blank" >github page</a>.</p>
          <p>Then, the whole robotic cell has been simulated in Gazebo, as seen in the below figure.</p>
        </div>
        <div align="center">
          <img src="images/rviz_vis_actual.gif"/>
          <img width="50%" src="images/softmanbot_2.jpg"/>
        </div>

      </header>


      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://farshad-heravi.github.io">Farshad N. Heravi</a>.</p>
      </footer>

    </div>

  </body>

</html>
